/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Custom*/
.title {
    font-size: 35px;
    color: #28a745;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.user-table, .user-detail {
    width: 100%;
}
.user-table th, .user-detail th {
    background-color: #28a745;
    color: white;
}
.user-table td, .user-detail td {
    background-color: #ececec;
}
.user-table th, td {
    padding: 0.5rem 1rem;
}
.user-table th:first-child {
    border-top-left-radius: 5px;
}
.user-table th:last-child {
    border-top-right-radius: 5px;
}
.user-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.user-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.user-table tr {
    border-bottom: 1px solid white;
}
.user-table tr:last-child {
    border-bottom: none;
}

.user-detail tr {
    border-bottom: 1px solid white;
}
.user-detail tr:last-child {
    border-bottom: none;
}
.user-detail th, td {
    padding: 0.5rem 1rem;
}
.user-detail tr:first-child th {
    border-top-left-radius: 5px;
}
.user-detail tr:first-child td {
    border-top-right-radius: 5px;
}
.user-detail tr:last-child th {
    border-bottom-left-radius: 5px;
}
.user-detail tr:last-child td {
    border-bottom-right-radius: 5px;
}